body {
  background: url('../img/Forma_1.svg') left top no-repeat, #fff;
  background-size: 295px, 64px;
}

@media screen and (min-width: 768px) {
  body {
    background: url('../img/Forma_1.svg') left top no-repeat, #fff;
    background-size: 395px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background: url('../img/Forma_1.svg') left top no-repeat, url('../img/Forma_2.svg') right center no-repeat, #fff;
    background-size: 395px, 64px;
  }
}

.brand-icon {
  height: 30px;
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--blue);
}

.pet-img {
  height: 148px;
  cursor: pointer;
}

.pet-info h3 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--blue);
}

.pet-info a {
  text-decoration: none;
}

.pet-info p {
  font-size: .8rem;
  font-weight: 400;
  color: #737380;
}

.pet-info address {
  font-size: .75rem;
  font-weight: 400;
  color: #737380;
}

.contact-owner img {
  height: 18px;
}

.contact-owner p {
  font-size: .6rem;
  font-weight: 400;
  color: #737380;
  cursor: pointer;
}