main img {
  height: 36px;
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--blue);
}

label {
  font-size: 1rem;
  font-weight: 400;
  color: #737380;
}

input::placeholder {
  font-size: 0.75rem;
  font-weight: 400;
  color: #BCBCBC;
}

input:focus {
  outline-color:  var(--green);
}

.forgot-password {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--red);
}

button {
  background: var(--red);
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  margin: 1rem 0 10rem;
}