body {
  background: url('../img/Forma_1.svg') left top no-repeat, url('../img/Forma_2_flip.svg') left center no-repeat, #fff;
  background-size: 295px, 64px;
}

@media screen and (min-width: 768px) {
  body {
    background: url('../img/Forma_1.svg') left top no-repeat, url('../img/Forma_2.svg') right center no-repeat, url('../img/Patas.png') right top no-repeat, #fff;
    background-size: 395px, 104px, 147px;
  }
}

.brand-icon {
  height: 30px;
}

main img {
  height: 36px;
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--blue);
}

label {
  font-size: 1rem;
  font-weight: 400;
  color: #737380;
}

input::placeholder {
  font-size: 0.75rem;
  font-weight: 400;
  color: #BCBCBC;
}

input:focus {
  outline-color:  var(--green);
}

.forgot-password {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--red);
}

button {
  background: var(--red);
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  margin: 1rem 0 10rem;
}