:root {
  --blue: #3772FF;
  --green: #36D6AD;
  --red: #FC7071;
  --cream: #FCF0E3;
  --grey-dark: #737380;
  --grey-light: #BCBCBC;
}

body {
  font-family: 'Poppins', sans-serif;
  background: url('../img/Forma_1.svg') left top no-repeat, url('../img/Forma_2.svg') right 30% no-repeat, #fff;
  background-size: 295px, 64px;
}

.user-icon {
  height: 40px;
  width: 40px;
}

.brand-icon {
  height: 30px;
}

footer {
  background-color: var(--green);
  justify-content: center;
}

footer p {
  font-size: 1rem;
  font-weight: 400;
}