:root {
  --blue: #3772FF;
  --green: #36D6AD;
  --red: #FC7071;
  --cream: #FCF0E3;
  --grey-dark: #737380;
  --grey-light: #BCBCBC;
}

body {
  font-family: 'Poppins', sans-serif;
}

.user-icon {
  height: 40px;
  width: 40px;
}

footer {
  background-color: var(--green);
}

footer p {
  font-size: 1rem;
  font-weight: 400;
}