body {
  background: url('../img/Forma_1.svg') left top no-repeat, url('../img/Forma_2_flip.svg') left center no-repeat, #fff;
  background-size: 295px, 64px;
}

@media screen and (min-width: 768px) {
  body {
    background: url('../img/Forma_1.svg') left top no-repeat, url('../img/Forma_2.svg') right center no-repeat, url('../img/Patas.png') right top no-repeat, #fff;
    background-size: 395px, 104px, 147px;
  }
}

.brand-icon {
  height: 30px;
}

main {
  padding: 2rem 0;
}

main img {
  height: 36px;
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--blue);
}

label {
  font-size: 1rem;
  font-weight: 400;
  color: #737380;
}

input::placeholder {
  font-size: 0.75rem;
  font-weight: 400;
  color: #BCBCBC;
}

input:focus {
  outline-color:  var(--green);
}

.error {
  text-align: center !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
  border: 0!important;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.success {
  text-align: center !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
  border: 0!important;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.error:focus {
  outline-color: var(--red);
}

small {
  font-size: .75rem;
  font-weight: 400;
  color: var(--red);
}

button {
  background: var(--red);
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}