body {  
  background: var(--blue);
}

.start-brand {
  height: 46px;
  width: 187px;
}

h1 {
  font-size: 1.7rem;
  font-weight: 500;
  color: #fff;
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}

button {
  background: var(--red);
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}

.main-ilustration {
  height: 312.77px;
}
